=begin
#lthn API

#Lethean Desktop HTTP gateway — same surface the WebView reaches via Wails bindings, exposed to external clients and the plugin market.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module LthnApi
  class RunnerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List configured runner model routes
    # 
    # @param [Hash] opts the optional parameters
    # @return [GetV1RunnerModels200Response]
    def get_v1_runner_models(opts = {})
      data, _status_code, _headers = get_v1_runner_models_with_http_info(opts)
      data
    end

    # List configured runner model routes
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetV1RunnerModels200Response, Integer, Hash)>] GetV1RunnerModels200Response data, response status code and response headers
    def get_v1_runner_models_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunnerApi.get_v1_runner_models ...'
      end
      # resource path
      local_var_path = '/v1/runner/models'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetV1RunnerModels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RunnerApi.get_v1_runner_models",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunnerApi#get_v1_runner_models\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Multi-turn chat completion
    # 
    # @param post_v1_runner_chat_request [PostV1RunnerChatRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PostV1RunnerChat200Response]
    def post_v1_runner_chat(post_v1_runner_chat_request, opts = {})
      data, _status_code, _headers = post_v1_runner_chat_with_http_info(post_v1_runner_chat_request, opts)
      data
    end

    # Multi-turn chat completion
    # 
    # @param post_v1_runner_chat_request [PostV1RunnerChatRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostV1RunnerChat200Response, Integer, Hash)>] PostV1RunnerChat200Response data, response status code and response headers
    def post_v1_runner_chat_with_http_info(post_v1_runner_chat_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunnerApi.post_v1_runner_chat ...'
      end
      # verify the required parameter 'post_v1_runner_chat_request' is set
      if @api_client.config.client_side_validation && post_v1_runner_chat_request.nil?
        fail ArgumentError, "Missing the required parameter 'post_v1_runner_chat_request' when calling RunnerApi.post_v1_runner_chat"
      end
      # resource path
      local_var_path = '/v1/runner/chat'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(post_v1_runner_chat_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostV1RunnerChat200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RunnerApi.post_v1_runner_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunnerApi#post_v1_runner_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Single-prompt generation
    # 
    # @param post_v1_runner_generate_request [PostV1RunnerGenerateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PostV1RunnerChat200Response]
    def post_v1_runner_generate(post_v1_runner_generate_request, opts = {})
      data, _status_code, _headers = post_v1_runner_generate_with_http_info(post_v1_runner_generate_request, opts)
      data
    end

    # Single-prompt generation
    # 
    # @param post_v1_runner_generate_request [PostV1RunnerGenerateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostV1RunnerChat200Response, Integer, Hash)>] PostV1RunnerChat200Response data, response status code and response headers
    def post_v1_runner_generate_with_http_info(post_v1_runner_generate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunnerApi.post_v1_runner_generate ...'
      end
      # verify the required parameter 'post_v1_runner_generate_request' is set
      if @api_client.config.client_side_validation && post_v1_runner_generate_request.nil?
        fail ArgumentError, "Missing the required parameter 'post_v1_runner_generate_request' when calling RunnerApi.post_v1_runner_generate"
      end
      # resource path
      local_var_path = '/v1/runner/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(post_v1_runner_generate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostV1RunnerChat200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RunnerApi.post_v1_runner_generate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunnerApi#post_v1_runner_generate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
